/* Global Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


/* Card Styles */

.card {
    margin: 1rem 0;
    padding: 1rem;
    background-color: rgb(84, 190, 190);
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    animation: animate-in 1s ease-out forwards;
    border-color: aliceblue;
}

.card a {
    text-decoration: none;
}

.author {
    font-size: 0.8rem;
    font-weight: bold;
    color: #543280;
    margin: 0;
    text-transform: uppercase;
}

.text {
    white-space: pre-wrap;
    font-size: 1.25rem;
    margin: 0.25rem 0 0 0;
    color: #593884;
    font-style: italic;
}

.container {
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 30px;
}


/* Media Queries */

@media only screen and (min-width: 768px) {
    .container {
        width: 250px;
        height: 250px;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        width: 350px;
        height: 350px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 450px;
        height: 450px;
    }
}


/* Animations */

@keyframes animate-in {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}