/* Default styles */

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

header h1 {
    margin: 0;
    font-size: 4rem;
    font-weight: 900;
    color: #195762;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
}

header p {
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
    color: #195762;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

section {
    border: 8px solid aqua;
    border-radius: 10px;
    margin: 50px 10%;
    background-color: #195762;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

section h2 {
    font-size: 3rem;
    font-weight: 900;
    margin: 20px 50px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

section h3 {
    font-size: 2rem;
    font-weight: 700;
    margin: 10px 50px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}

section h4 {
    font-size: 2rem;
    font-weight: 700;
    margin: 10px 50px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}

section ul {
    list-style: none;
    padding: 0;
    margin: 20px 50px;
}

section li {
    margin-bottom: 10px;
}

section p {
    margin: 20px 10%;
    font-size: 1.5rem;
    line-height: 1.8;
    text-align: justify;
}

footer {
    background-color: #000000;
    padding: 50px 20px;
    text-align: center;
    color: #fff;
}

footer p {
    margin: 0;
    font-size: 1.5rem;
}


/* Media queries */

@media (max-width: 768px) {
    header h1 {
        font-size: 3rem;
    }
    header p {
        font-size: 1.5rem;
    }
    section {
        margin: 50px 5%;
    }
    section h2 {
        font-size: 2rem;
        margin: 10px 20px;
    }
    section h3 {
        font-size: 1.5rem;
        margin: 10px 20px;
    }
    section ul {
        margin: 10px 20px;
    }
    section p {
        margin: 20px 5%;
        font-size: 1.2rem;
    }
    footer p {
        font-size: 1.2rem;
    }
}